.the-bar{
    color: #6dd5ed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    background-color: #076585;
    border-radius: 10px
    line
   }
 .nav-ul{
    display: flex;
    flex-wrap: wrap;
    background-color:#264653;
    color: #4286f5;
    border-radius: 30px;
    float: right;
}
.nav-ul >li{
    list-style: none;
    padding: 10px;
    margin: 10px;
    
    }
.nav-ul >li:hover{
    color: white;
    background-color: #21222A;
    text-decoration: overline;
    transition:5s;
    border-radius: 30px;
}
/* @media all and (max-width:873px) {
    .nav-ul{
        display: block;
    }
    
} */