.the-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#264653;
    color: #4286f5;
}
.nav-ul{
    display: flex;
}
.nav-ul >li{
    list-style: none;
    padding: 10px;
}